body{
background-color: rgb(201, 164, 183);
}

li a {
    display: block;
    width: 60px;
  }

.active {
    background-color: #d9c3da;
    color: white;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #d3a7c2;
  }
  
  li a {
    display: block;
    color: #a27c9a;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #c9bccc;
    color: white;
  }